# Fysiikkaa ja validointia koskevat muutokset vaativat vastuuopettajan hyväksynnän.
# Ota haaran suojauksessa
# käyttöön "Require review from Code Owners".
index.html            @Jipirtti
tests/                @Jipirtti
VALIDOINTI.md         @Jipirtti
